.Projects{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #EBEAEB;
}

.Projects .Header  h1{
    margin-top: 90px;
    color: #37323E;
    text-align: center;
    font-size: 3.5rem;
    border-bottom: 4px solid #DEAB3C;
}

.Projects .Projects-Container{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.Projects .Project-Card{
    width: 45%;
    position: relative;
    margin-bottom: 20px;
    background-color: #DEAB3C;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Projects .Project-Card .Card-Image{
    width: 50%;
}

.Projects .Project-Card .Card-Image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.Projects .Card-Content{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.Projects .Project-Card .Card-Content .Title{
    height: 10%;
}

.Projects .Project-Card .Card-Content .Title h1{
    font-size: 1.4rem;

}

.Projects .Project-Card .Card-Content .Description{
    height: 60%;
}

.Projects .Project-Card .Card-Content .Description p{
    text-align: justify;
    margin: 15px 0;
    /* text-indent: 40px; */
    white-space: pre-line;
}

.Projects .Project-Card .Card-Content .Tools{
    height: 20%;
    display: flex;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;   
}

.Tools .Tool{

    margin: 0;
}

.Projects .Project-Card .Card-Content .Tools p{
    margin: 10px 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.Projects  .Project-Card .Card-Content .Links{
    height: 10%;
    display: flex;
    gap: 20px; 
}

.Projects .Project-Card .Card-Content .Links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100px;
    background-color: #EBEAEB;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1080px){
    .Projects .Project-Card{
        width: 60%;
        flex-direction: column;
    }

    .Projects .Project-Card .Card-Image{
        width: 100%;
    }
    
    .Projects .Project-Card .Card-Content{
        width: 100%;
    }
    
    .Card-Content .Title{
        height: 10%;
    }

    .Projects .Project-Card .Card-Content .Description{
        height: 70%;
    }

    .Card-Content .Tools{
        height: 10%;
    }

    .Card-Content .Tools .Tool{
        width: 45%;
    }

    .Card-Content .Links{
        height: 10%;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    
}