.Skills{
    min-height: 100vh;
    position: relative;
    background-color: #37323E;
    display: flex;
    flex-direction: column;
    align-items: center
}

.Skills .Header{
    margin-top: 90px;
}

.Skills .Header h1{
    margin: 0;
    font-size: 3.5rem;
    font-weight: bold;
    color: #EBEAEB;
    border-bottom: 4px solid #DEAB3C;
}

.Containers{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Skills-Container{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.Skill-Button{
    margin-top: 60px;
    padding: 10px 0;
    background-color: transparent;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: none;
    border-bottom: 4px solid #DEAB3C;
    transition: background-color 0.4s ease;
}

.Skill-Button:hover{
    background-color: #DEAB3C;
    transition: background-color 0.4s ease;
}

.Skill-Button h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #EBEAEB;
    margin: 0;
}

.List-Container{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.List-Container .Item-List{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.Item-List .Item-Card{
    width: 45%;
    color: #EBEAEB;
    font-size: 1.8rem;
    display: flex;
    position: relative;
    animation: appear 2s ;
    animation-fill-mode: backwards;
}

.Item-List .Item-Card::before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #DEAB3C;
    position: absolute;
    left: -15px;
}

.Item-List .Card-Row h3, .Item-List .Card-Row h4{   
    margin: 0;
    padding: 0;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1080px){
    .Skills .Header{
        margin-top: 90px;
    }
    .Containers{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Skills-Container{
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
    }
    .Skills-Container .Skill-Button{
        flex: 1;
        height: 60px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .Skills-Container .Skill-Button h1{
        font-size: 1.2rem;
    }
    .List-Container{
        width: 100%;
        margin-top: 50px;
        display: flex;
        
    }
    .List-Container .Item-List{
       width: 90%;
       display: flex;
       justify-content: center;
    }
    .List-Container .Item-List .Item-Card{
        font-size: 1.2rem;
        width: 40%;
    }

}