.About{
    min-height: 100vh;
    position: relative;
    background-color: #EBEAEB;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.About .Card-Image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.About img{
    width: 70%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    /* border: 4px solid #DEAB3C; */
}

.About .Card-Content{
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About .Card-Content .Card-Header h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #37323E;
    border-bottom: 4px solid #DEAB3C;
}


.About .Card-Content .Sobre{
    width: 35vw;
    display: flex;
    flex-direction: column;
    background-color: #ffffffc7;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.About .Sobre p{
    margin: 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 30px;
}

.About .Experiencias{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.About .Experiencias h3{
    font-size: 2rem;
    color: #37323E;
    padding: 10px 00;
}


.About .Experiencias .Exp-Cards{
    display: flex;
    gap: 10%;
    position: relative;
}

.About .Experiencias .Exp-Cards::before{
    content: "";
    background-color: #37323E;
    width: 3px;
    height: 100%;
    position: absolute;
}

.About .Experiencias .Exp-Content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.About .Experiencias .Exp-Content p, .About .Experiencias .Exp-Content h4{
    margin: 0; 
}

.About .Experiencias .Exp-Content h4{
    font-size: 1.5rem;
    color: #37323E;
}

.About .Experiencias .Exp-Content::before{
    background-color: #37323E;
    width: 4px;
    height: 100%;
}

.About .Formacao .For-Cards{
    display: flex;
    gap: 10%;
}

.About .Formacao .For-Header{
    display: flex;
    justify-content: center;
    
}
.About .Formacao h3{
    font-size: 2rem;
    color: #37323E;
    padding: 10px 00;

}

.About .Formacao .For-Content{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffffc7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.About .Formacao .For-Content p{
    margin: 0;
    text-indent: 10px;
}



@media (max-width: 1080px){
    .About{
        flex-direction: column;
        padding: 10px;
    }
    .About .Card-Image{
        margin-top: 90px;
        width: 80%;
        height: 100%;
    }
    .Exp-Content {
        min-width: 100%;
    }
    
}