.Projects{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #EBEAEB;
}

.Projects .Header  h1{
    margin-top: 80px;
    text-align: center;
    font-size: 2.7rem;
}

.Projects .Projects-Container{
    display: flex;
    justify-content: center;
}

.Projects .Project-Card{
    max-width: 500px;
    width: 25vw;
    height: 60vh;
    position: relative;
    border-radius: 10px;
    background-color: #DE9E36;
    display: flex;
    flex-direction: column;
}

.Projects .Project-Card .Card-Image{
    height: 45%;
}

.Projects .Project-Card .Card-Image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.Projects .Card-Content{
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Projects .Project-Card .Card-Content .Title h1{
    font-size: 1.4rem;
}

.Projects .Project-Card .Card-Content .Description p{
    margin: 0;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Projects .Project-Card .Card-Content .Tools{
    display: flex;
    gap: 20px;
}

