.About{
    min-height: 100vh;
    position: relative;
    background-color: #BFBDC1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.About .Card-Content{
    width: 35vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffffc7;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.About .Content{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1a1a1a;
    
}

.About .Card-Content p{
    font-size: 1.5rem;
    text-align: justify;
    max-width: 95%;
    line-height: 1.2;
}


.About .Card-Content h1{
    font-size: 3.4rem;
    font-weight: bold;
    color: #1a1a1a;
}

.About .Card-Image{
    width: 35vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffc7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.About img{
    max-width: 90%;
    max-height: 90%;
    
}

@media (max-width: 1080px){
    .About{
        flex-direction: column;
        padding: 10px;
    }
    .Card-Content .Content h1{
        font-size: 1.8rem;
    }
    .Card-Content .Content p{
        font-size: 1rem;
    }
}