footer{
    background-color: #37323E;
    color: #ffffffc7;
    min-width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .Info-Row{
    max-width: 1100px;
    margin-top: 20px;
    display: flex;
    gap: 150px;

}


footer .Info-Row .Navigation,  .Contacts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .Info-Row .Navigation h3,  .Contacts h3, .Brand h3{
  margin: 0;
}

footer .Copyright{
  width: 96%;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #646464;

  font-size:0.9rem;
}

footer a{
    text-decoration: none;
    color: #ffffffc7;
}

